{% extends "base.html" %}

{% block meta_title %}
  Blogs
{% endblock meta_title %}

{% block meta_description %}
  Canonical design blogs
{% endblock meta_description %}

{% block meta_copydoc %}
  <!-- to be added -->
{% endblock meta_copydoc %}

{% block content %}

  <style>
    @keyframes bounce {

      0%,
      100% {
        transform: translateY(10);
      }

      50% {
        transform: translateY(-10px);
      }
    }

    .progress-bar {
      width: 100%;
      height: 20px;
      background-color: #ddd;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
    }

    .progress-bar-inner {
      width: 50%;
      height: 100%;
      background-color: #4caf50;
      animation: progress 3s infinite;
    }

    @keyframes progress {
      0% {
        width: 0;
      }

      50% {
        width: 75%;
      }

      100% {
        width: 0;
      }
    }
  </style>
  <div class="wrapper u-no-margin-top">
    <main id="main-content" class="inner-wrapper">
      <div class="row--50-50 p-strip is-deep">
        <div class="col">
          <h1>Oops! We're Working on It</h1>
          <p>
            Things are under construction right now.
            <br />
            Kevin the Builder is working overtime to fix it for you!
            <br />
            Get him some bananas!!!
          </p>
        </div>
        <div class="col">
          <div class="p-image_container">

            {{ image (
            url="https://assets.ubuntu.com/v1/75c73729-HD-wallpaper-minions-kevin-bob-construction-workers.jpg",
            alt="",
            width="800",
            height="500",
            hi_def=True,
            loading="auto|lazy"
            ) | safe
            }}
          </div>
        </div>
        <br />
        <div class="progress-bar">
          <div class="progress-bar-inner"></div>
        </div>
      </div>
    </main>
  </div>

{% endblock content %}
