<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>

      {% block meta_title %}
      {% endblock meta_title %}
      | Canonical design
    </title>

    <link rel="preconnect" href="https://res.cloudinary.com" />

    <!-- Load icons-->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="https://assets.ubuntu.com/v1/f38b9c7e-COF%20apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="https://assets.ubuntu.com/v1/be7e4cc6-COF-favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="https://assets.ubuntu.com/v1/16c27f81-COF%20favicon-16x16.png" />

    <!-- Load fonts -->
    <link rel="preload"
          as="font"
          type="font/woff2"
          href="https://assets.ubuntu.com/v1/f1ea362b-Ubuntu%5Bwdth,wght%5D-latin-v0.896a.woff2"
          crossorigin />
    <link rel="preload"
          as="font"
          type="font/woff2"
          href="https://assets.ubuntu.com/v1/90b59210-Ubuntu-Italic%5Bwdth,wght%5D-latin-v0.896a.woff2"
          crossorigin />
    <link rel="preload"
          as="font"
          type="font/woff2"
          href="https://assets.ubuntu.com/v1/d5fc1819-UbuntuMono%5Bwght%5D-latin-v0.869.woff2"
          crossorigin />
    <link rel="preconnect"
          as="font"
          type="font/woff2"
          href="https://assets.ubuntu.com/v1/77cd6650-Ubuntu%5Bwdth,wght%5D-cyrillic-extended-v0.896a.woff2"
          crossorigin />
    <link rel="preconnect"
          as="font"
          type="font/woff2"
          href="https://assets.ubuntu.com/v1/2702fce5-Ubuntu%5Bwdth,wght%5D-cyrillic-v0.896a.woff2"
          crossorigin />
    <link rel="preconnect"
          as="font"
          type="font/woff2"
          href="https://assets.ubuntu.com/v1/5c108b7d-Ubuntu%5Bwdth,wght%5D-greek-extended-v0.896a.woff2"
          crossorigin />
    <link rel="preconnect"
          as="font"
          type="font/woff2"
          href="https://assets.ubuntu.com/v1/0a14c405-Ubuntu%5Bwdth,wght%5D-greek-v0.896a.woff2"
          crossorigin />
    <link rel="preconnect"
          as="font"
          type="font/woff2"
          href="https://assets.ubuntu.com/v1/19f68eeb-Ubuntu%5Bwdth,wght%5D-latin-extended-v0.896a.woff2"
          crossorigin />

    <meta name="copydoc" content=" 
      {% block meta_copydoc %}https://drive.google.com/drive/folders/1WJxVFy-UHHUi60OByNqYpG2rsrqBvNYx{% endblock %}" />

      <meta name="description" content=" 
        {% block meta_description %}{{ meta_description }}{% endblock meta_description %}" />
        <meta name="author" content="Canonical" />

        <link rel="stylesheet"
              type="text/css"
              media="screen"
              href="/static/css/styles.css" />
      </head>
      <body class="{% block body_class %}{% endblock %} l-site">

        <a href="#main-content" class="p-link--skip">Jump to main content</a>

        {% include '_layouts/_navigation.html' %}

        <div class="wrapper">
          <div id="main-content">

            {% block content %}{% endblock %}

          </div>
        </div>

        {% include '_layouts/_footer.html' %}

      </body>
    </html>
