<section class="p-section">
  <div class="row">
    <hr class="p-rule" />
    <div class="col">
      <h2>Make an impact</h2>
    </div>
  </div>
  <div class="row u-sv3">
    <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
      <div class="row">
        <div class="col-3">
          <div class="p-image-container--2-3 is-highlighted is-underlined">
            {{ image(url="https://assets.ubuntu.com/v1/e3b8aabb-join-the-osc.png",
                        alt="",
                        width="852",
                        height="1279",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"},) | safe
            }}
          </div>
          <h5>Join the open source community</h5>
          <p>
            The open source community is full of projects in need of design. Find a project that aligns with you<!--r values and skills-->.
          </p>
          <hr />
          <p>
            <a href="#">Explore community projects&nbsp;›</a>
          </p>
        </div>
        <div class="col-3">
          <div class="p-image-container--2-3 is-highlighted is-underlined">
            {{ image(url="https://assets.ubuntu.com/v1/2ebaee6d-create-great-os.png",
                        alt="",
                        width="852",
                        height="1279",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"},) | safe
            }}
          </div>
          <h5>Create great open source with us</h5>
          <p>
            Find a canonical project to get involved with. Ideal if you're seeking experience in projects with global impact.
          </p>
          <hr />
          <p>
            <a href="#">Explore Canonical projects&nbsp;›</a>
          </p>
        </div>
        <div class="col-3">
          <div class="p-image-container--2-3 is-highlighted is-underlined">
            {{ image(url="https://assets.ubuntu.com/v1/a4fb11f0-work-for-canonical.png",
                        alt="",
                        width="852",
                        height="1279",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"},) | safe
            }}
          </div>
          <h5>Work for Canonical</h5>
          <p>Ready to take your passion for design and open source to the next level? Join our team at Canonical!</p>
          <hr />
          <p>
            <a href="https://canonical.com/careers/web-and-design" target="_blank">Check out careers&nbsp;›</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
