{% extends "base.html" %}

{% block meta_title %}
  Get started for maintainers
{% endblock meta_title %}

{% block meta_description %}
  Get started for maintainers
{% endblock meta_description %}

{% block meta_copydoc %}
  <!-- to be added -->
{% endblock meta_copydoc %}

{% block content %}

  <div class="wrapper u-no-margin-top">
    <main id="main-content" class="inner-wrapper">
      <section class="p-section--hero">
        <div class="row--50-50">
          <div class="col">
            <h1>Collaborate and innovate</h1>
          </div>
          <div class="col">
            <p>
              Open source software also needs design. Create better, more inclusive open source solutions with the help of the design community.
            </p>
          </div>
        </div>
      </section>

      <section class="p-section">
        <div class="u-fixed-width">
          <div class="p-image-container--cinematic is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/52415873-hero-img.png",
                        alt="",
                        width="3696",
                        height="1540",
                        hi_def=True,
                        loading="auto",
                        attrs={"class": "p-image-container__image"},) | safe
            }}
          </div>
        </div>
      </section>

      <section class="p-section">
        <div class="row--50-50">
          <hr class="p-rule" />
          <div class="col">

            <h2>How design contributions can help your project</h2>
          </div>
          <div class="col">
            <p>
              Opening your project to design contributions increases your chances to create something great, but also to build a more inclusive and engaged community.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-9 col-start-large-4 col-medium-5 col-start-medium-2">
            <hr class="p-rule is-muted" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Improve usability and accessibility</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>Benefit from user-centric design that improves usability and accessibility.</p>
              </div>
            </div>
            <hr class="p-rule is-muted" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Include more diverse perspectives</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>Gain fresh, innovative ideas from designers with different backgrounds and expertise.</p>
              </div>
            </div>
            <hr class="p-rule is-muted" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Create a recognisable identity</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>Consistent, high-quality design helps establish and maintain a strong visual identity.</p>
              </div>
            </div>
            <hr class="p-rule is-muted" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Broaden your reach</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>Attract a broader range of contributors, boosting project visibility and support.</p>
              </div>
            </div>
            <hr class="p-rule is-muted" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Create better documentation</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>Create more intuitive and beginner-friendly documentation.</p>
              </div>
            </div>
            <hr class="p-rule is-muted" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Stay ahead of the curve</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>Stay ahead by continuously integrating design trends and best practices into your project.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-section">
        <div class="row">
          <hr class="p-rule" />
          <div class="col">
            <h2>Contributions from the UI to the CLI</h2>
          </div>
        </div>

        <div class="row u-sv3">
          <div class="col-3">
            <div class="p-image-container is-highlighted is-underlined">
              {{ image(url="https://assets.ubuntu.com/v1/e55d59fa-research-testing.png",
                            alt="",
                            width="852",
                            height="1398",
                            hi_def=True,
                            attrs={"class": "p-image-container__image"},
                            loading="lazy") | safe
              }}
            </div>
            <h5>Research and testing</h5>
            <p>Understanding your audience and how people interact with your project is key to creating meaningful products.</p>
            <hr />
            <p>
              <a href="#">Learn more&nbsp;›</a>
            </p>
          </div>
          <div class="col-3">
            <div class="p-image-container is-highlighted is-underlined">
              {{ image(url="https://assets.ubuntu.com/v1/ab3113a4-user-flows.png",
                            alt="",
                            width="852",
                            height="1398",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"},) | safe
              }}
            </div>
            <h5>User flows</h5>
            <p>Mapping how users should move from one point to another helps streamline experiences.</p>
            <hr />
            <p>
              <a href="#">Learn more&nbsp;›</a>
            </p>
          </div>
          <div class="col-3">
            <div class="p-image-container is-highlighted is-underlined">
              {{ image(url="https://assets.ubuntu.com/v1/1f8e1bb8-visuals.png",
                            alt="",
                            width="852",
                            height="1398",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"},) | safe
              }}
            </div>
            <h5>Visuals and brand</h5>
            <p>
              Beautiful graphics make the difference between good and great software.
              <br />
              <br />
            </p>
            <hr />
            <p>
              <a href="#">Learn more&nbsp;›</a>
            </p>
          </div>
          <div class="col-3">
            <div class="p-image-container is-highlighted is-underlined">
              {{ image(url="https://assets.ubuntu.com/v1/298ccdad-design-systems.png",
                            alt="",
                            width="852",
                            height="1398",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"},) | safe
              }}
            </div>
            <h5>Design systems</h5>
            <p>Strong design systems speed up design and development and create coherent end-to-end experiences.</p>
            <hr />
            <p>
              <a href="#">Learn more&nbsp;›</a>
            </p>
          </div>
        </div>

      </section>

      <section class="p-section">
        <div class="row">
          <hr class="p-rule" />
          <div class="col">
            <h2>What people are saying</h2>
          </div>
        </div>
        <div class="row u-sv3">

          <div class="row--25-75">
            <div class="col">

              <div class="u-fixed-width">
                <div class="p-image-container--cinematic"></div>
              </div>
            </div>
            <div class="col">
              <blockquote class="p-pull-quote">
                <p class="p-pull-quote__quote">
                  Design is crucial, even for FOSS projects with no UI. Many teams making command-line tools think that design is an entire field that isn't relevant to them. This couldn't be more incorrect. These teams still need to know who uses their tools, why and how they are used, and what features are needed. They need to understand how to best share their project with others, and how to build a community around it.
                </p>
                <span class="p-pull-quote__citation">Anonymous Canonical Survey participant</span>
              </blockquote>
            </div>
          </div>
        </div>

      </section>

      <section class="p-section">
        <div class="row">
          <div class="col">

            <hr class="p-rule" />
            <h2>FAQs</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-9 col-start-large-4 col-medium-5 col-start-medium-2">
            <hr class="p-rule" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Who owns my contributions?</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>
                  Understanding licensing is important when working on open source projects. There are different types of licenses commonly used, like GPL or MIT. It’s important to check which one the project is using!
                </p>
              </div>
            </div>
            <hr class="p-rule" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Are contributions compensated?</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>
                  Many open-source projects welcome volunteer contributions, while some offer compensation or grants for specific design tasks. It all depends on the project's funding and goals, so there are opportunities for everyone to get involved and make a difference!
                </p>
              </div>
            </div>
            <hr class="p-rule" />
            <div class="row">
              <div class="col-3 col-medium-2">
                <h3 class="p-heading--5">Do I need to know how to code?</h3>
              </div>
              <div class="col-6 col-medium-3">
                <p>
                  Absolutely not! Your design skills, passion and creativity are what matter most. There are plenty of ways you can make a meaningful impact without writing a single line of code.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include "open-design/shared/_make_impact.html" %}

      <section class="p-section">
        <hr class="p-separator is-fixed-width" />
        <div class="u-fixed-width">
          Have something to add? <a href="/managed">Help improve this page&nbsp;›</a>
        </div>
      </section>

    </main>
    <!-- /.inner-wrapper -->
  </div>
{% endblock content %}
